# Web Framework
fastapi
uvicorn

# Database & ORM
sqlalchemy
psycopg2-binary  # For PostgreSQL deployment later
python-dotenv    # To read your .env file

# Security & Auth
passlib[bcrypt]  # For password hashing
python-jose[cryptography]  # For JWT tokens
python-multipart # To handle file uploads in FastAPI

# Cloud & Storage
filetype


# Utilities
pydantic
pydantic-settings